.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #202020;
}

.hyv:hover:hover {
  background-color: wheat;
}

.kal:hover:hover {
  background-color: red;
}

.tyhja {
  background-color: lightcoral;
}
td.today {
  background-color: #30d0c0;
  padding: 1px;
}

div.today {
  background-color: #40e0d0;
  margin: 9px;
}
.yla {
  padding: 0em;
}
div.yla.container-fluid {
  background-color: white;
}
.tab {
  background-color: var(--dark);
  color: white;

  box-shadow: 2px 2px 2px black;
}

.nav-link.active {
  background-color: #202020;
}

.lenk {
  background-color: var(--dark);
}
.btn {
  color: white;
}

.katlenk {
  padding: 0.5em;
  background-color: var(--dark);
  margin: 1em;
  box-shadow: 2px 2px 2px 1px black;
}

.metslenk {
  padding: 0.5em;
  background-color: var(--dark);
  margin: 1em;
  box-shadow: 2px 2px 2px 1px black;
}
.card-header {
  color: white;
}
.taulu {
  color: white;
  background-color: var(--dark);
}

.vasen {
  background-color: var(--dark);
  margin: 1em;
  box-shadow: 2px 2px 2px 1px black;
}

div.card-header {
  background-color: var(--dark);
}

.acco {
  background-color: #202020;
  color: white;
}
.tab:hover {
  color: white;
}
.yhtvet {
  padding: 2em;
}
